@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

body {
    @apply font-sans;
    font-family: "Archivo", theme("fontFamily.sans");
}

.marker-cluster-custom {
    @apply flex justify-center items-center bg-blue-500 rounded-full border-2 border-white shadow-lg;
}

.marker-cluster-custom div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
}

